bpf/bpf_core_read.h linguist-generated=true
bpf/bpf_helper_defs.h linguist-generated=true
bpf/bpf_helpers.h linguist-generated=true
bpf/handler-bpfeb.o linguist-generated=true
bpf/handler-bpfel.o linguist-generated=true
bpf/vmlinux.h linguist-generated=true
