# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Prerequisites
*.d

# Object files
*.o
!bpf/handler-*.o
*.obj
*.elf

# Editor folders
.vscode

# Make outputs
.clang-image

build

*.tfstate
*.tfstate.backup
*.tfplan
*.lock.hcl
.terraform/

/exectrace
