name: gen

on:
  push:
    branches:
      - main
    tags:
      - "*"

  pull_request:
    branches:
      - main

  workflow_dispatch:

permissions:
  actions: none
  checks: none
  contents: read
  deployments: none
  issues: none
  packages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  handler-elf:
    name: handler-elf
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run make
        run: make

      - name: Check for unstaged files
        run: ./ci/scripts/check_unstaged.sh
